#project-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: transparent;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
}
#project-container:hover {
    background-color: #ddd7c8;
}

#project-btn {
    width: 100%;
    text-align: left;
    font-size: medium;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 750px) {
    #project-btn {
        font-size: small;
    }
    #project-icon {
        display: none;
    }
}

#project-task-num {
    color: #8f8b81;
}